* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 2;
    width: 800px;
    border: #000000 solid 2px;
}

input[type="number"] {
    font-size: 24px;
}

.input-data {
    height: 375px;
    padding: 10px 20px 10px 20px;
    background-color: #fff4e67c;
}

.answer {
    height: 225px;
    padding: 10px 20px 10px 20px;
    background-color: #fff4e67c;
    /* background-color: #7efc0033; */
    /* background-color: #fc694f2d; */
}

.equation {
    display: flex;
    justify-content: center;
}

.label {
    /* fixed width */
    display: inline-block;
    width: 260px;
}

.coefficient-form {
    padding-top: 20px;
}

#answer,
#x0,
#x1,
#x2 {
    display: none;
}

/* Removes the default spin button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
